// Colors

$blue: #193C95;
$black: #04080F;
$grey: #CDCDCD;
$white: #FAFAFA;
$blue-light: #2897D3;

// Fonts 
$small: 1rem;
$medium: 2.5rem;
$big: 3.5rem;

$large-padding: 1rem 1.5rem;
$big-padding: 2rem 4rem;

$default-margin-top: 2rem;
$big-margin-top: 4rem;

$border-radius: 5px;